<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894615797397-q6ucujlse55r70mniohc8t5eds44f7ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894615797397-q6ucujlse55r70mniohc8t5eds44f7ko</string>
	<key>API_KEY</key>
	<string>AIzaSyCYII_Jm-qasVYVNlEN5iqbXrBei4jX5t4</string>
	<key>GCM_SENDER_ID</key>
	<string>894615797397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ente.app</string>
	<key>PROJECT_ID</key>
	<string>monster-discount</string>
	<key>STORAGE_BUCKET</key>
	<string>monster-discount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894615797397:ios:4290e9ccb86f5ab971a59c</string>
</dict>
</plist>